.homeContainer {
  display: flex;
  background-color: #1A1A1A;
  flex-direction: column;
  max-width: 100vw;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .intro {
      min-height: calc(100vh - 100px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .introduction {
        align-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        margin: 40px;
        min-height: 70vh;

        .profilePicture {
          animation: slideIn 7s;
          border-radius: 10%;
          overflow: hidden;
          width: 400px;
        }

        @keyframes slideIn {
          0% {opacity: 0;}
          100% {opacity: 1;}
        }
      }

      .swipeDownIcon {
        align-self: center;
        animation: pulse linear 3s infinite;
        color: #D5D5D5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 30px;
        text-align: center;
        width: 100px;
      }

      @keyframes pulse {
        0% {opacity: 0;}
        50% {opacity: 1;}
        100% {opacity: 0;}
      }
    }

    %staticLayer {
      height: 70vh;
      max-width: 100vw;
      min-height: 600px;
      overflow: hidden;
      position: relative;
    }

    %rotatedLayer {
      height: 140vw;
      margin-left: -150vw;
      position: absolute;
      transform-origin: 50% 0;
      transform: rotate(18deg);
      width: 300vw;
    }

    .workHistory {
      @extend %staticLayer;
      background-color: #1A1A1A;

      .workHistoryBackground {
        @extend %rotatedLayer;
        background-color: #202020;
      }
    }

    .personalProjects {
      @extend %staticLayer;
      background-color: #202020;

      .personalProjectsBackground {
        @extend %rotatedLayer;
        background-color:#1A1A1A;
      }
    }

    .linkBox {
      left: 50%;
      min-width: 300px;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;

      &Title {
        font-size: 60px;
      }

      &TextContent {
        max-width: 500px;
        margin-bottom: 50px;
      }

      &Button {
        border: 3px solid #D5D5D5;
        color: #D5D5D5;
        display: flex;
        font-size: 21px;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 15px 20px;
        text-decoration: none;

        &:hover {
          animation: onHover 0.5s;
          background-color:#E76161;
          border: 3px solid #E76161;
          color: #D5D5D5;
          cursor: pointer;
        }

        @keyframes onHover {
          0% {
            background-color: #1A1A1A;
            border: 3px solid #181818;
            color: #D5D5D5;
          }
          100% {
            background-color:#E76161;
            border: 3px solid #E76161;
            color: #D5D5D5;
          }
        }
      }
    }

    .technologiesAndTools {
      align-items: center;
      background-color: #202020;
      display: flex;
      flex-direction: column;
      min-height: 400px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1000px) {
  %rotatedLayer {
    height: 160vw !important;
  }
}


