.technologiesIcons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 90vw;
  margin: 10px 0;
  padding: 40px 0;

  &Row {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .technologiesIconsRow {
    flex-wrap: wrap;
  }
}