html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Consolas;
}

h1 {
  color: #E76161;
  font-size: 48px;
  margin: 10px;
}

h2 {
  color: #D5D5D5;
  font-size: 21px;
}

b {
  color: #E76161;
}